.wrapper {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
}
h1 {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 45px;
}
* {
    box-sizing: border-box;
}
#fixed {
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px;
    margin: 0;
    text-align: center;
    background: #eee;
}
.text2 {
    float: left;
    padding: 20px;
    margin: 0 auto;
}